/*
MY SCRIPT
*/

.content
{
    min-height: 800px;
}
.lk-header{
    width: 100%;
}

.pad-bot-0{
    padding-bottom: 0 !important;
}
select option:hover {
    box-shadow: 0 0 10px 100px #41b883 inset;
    color:#fff;
}
.m-b-30{
    margin-bottom: 30px;
}
.new_adress{
    margin-top: 0;
}
.header_catalog{
    width: 100%;
}
.m-b-10{
    margin-bottom:10px ;
}
.item_reg_block .nav-tabs .nav-link.active{
    border-color:#dee2e6 ;
}
.ck-editor__editable {
    min-height: 500px;
}
.title_item_list_news_company{
    height: 30px;
    overflow: hidden;
}
.container_list_sidebar_catalog_menu{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
.scroll
{
    display: block;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    background: #fff;
    z-index: 999;

}
.header_catalog.scroll .navbar-nav .nav-link{
    padding: 0;
}
.container_catalog_products
{
    padding-top: 120px;
}
.container.content
{
    padding-top: 140px;
}
.padding-0
{
    padding: 0 !important;
}
.btn-table
{
    color: #71BF45;
    border-radius: 10px;
    border: 1px solid #71BF45;
    background: transparent;
    padding: 10px 30px;
    margin-right: 10px;
    font-weight: 600;
}
.btn-table:hover
{
    color: #71BF45;
    border-radius: 10px;
    border: 1px solid #71BF45;
    background: transparent;
    padding: 10px 30px;
    margin-right: 10px;
    font-weight: 600;
    text-decoration: none;
}
.close_purchase_volume
{
    cursor: pointer;
}
.dropdown-menu.dropdown-menu_item_list_sidebar_catalog_menu .dropdown-item
{
    cursor: pointer;
}
