/*
MY SCRIPT
*/

.lk-header{
    width: 100%;
}

.pad-bot-0{
    padding-bottom: 0 !important;
}
select option:hover {
    box-shadow: 0 0 10px 100px #41b883 inset;
    color:#fff;
}
.m-b-30{
    margin-bottom: 30px;
}
.new_adress{
    margin-top: 0;
}
.header_catalog{
    width: 100%;
}
.m-b-10{
    margin-bottom:10px ;
}
.item_reg_block .nav-tabs .nav-link.active{
    border-color:#dee2e6 ;
}
.ck-editor__editable {
    min-height: 500px;
}

.container_list_sidebar_catalog_menu{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
.scroll
{
    display: block;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    background: #fff;
    z-index: 999;

}
.container_catalog_products
{
    padding-top: 120px;
}
.container.content
{
    padding-top: 230px;
    padding-bottom: 130px;
}
.padding-0
{
    padding: 0 !important;
}
.btn-table
{
    color: #71BF45;
    border-radius: 10px;
    border: 1px solid #71BF45;
    background: transparent;
    padding: 10px 30px;
    margin-right: 10px;
    font-weight: 600;
}
.btn-table:hover
{
    color: #71BF45;
    border-radius: 10px;
    border: 1px solid #71BF45;
    background: transparent;
    padding: 10px 30px;
    margin-right: 10px;
    font-weight: 600;
    text-decoration: none;
}
.close_purchase_volume
{
    cursor: pointer;
}
.dropdown-menu.dropdown-menu_item_list_sidebar_catalog_menu .dropdown-item
{
    cursor: pointer;
}
.add_packaging span
{
    cursor: pointer;
}
gti.container_btn_search_header
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inset-plus
{
    inset:3px auto auto 0px !important;
}

#videoModal .modal-content
{
    background: transparent;
    border:0px;
}
.btn_user_registration_company a:hover{
    color:#fff;
    text-decoration: none;
}
.link_item_questions_company a:hover
{
    color:#61A73A;
}
.item_list_news_company a,
.item_list_news_company .title_item_list_news_company
{
    color:#61A73A;
    text-decoration: none;
}
.item_list_news_company a:hover,
.item_list_news_company a:hover .title_item_list_news_company
{
    color:#74d43e;
    text-decoration: none;
}

.item_footer_contact_main a:hover,
.item_footer_contact a:hover
{
    color: #61A73A;
    text-decoration: none;
}

.name_profile_information
.vue-quick-edit__link
{
    color: #22262A;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    font-family: 'Montserrat';
}

#filters .select.select_type
{
    border: 1px solid #c8ccd1;
    border-radius: 10px;
    overflow-y: auto;
}

.list_news .slick-prev:hover:before,
.list_news .slick-next:hover:before {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 50%);
    background: #eaeaea;
}

header .nav-item.dropdown ul
{
    margin-top: 3px !important;
}
a,
a:hover,
a:-webkit-any-link,
a:-webkit-any-link:hover{
    text-decoration: none;
}
.prev_product_catalog:hover,
.prev_page:hover
{
    color:#71BF45;
}

::-webkit-scrollbar
{
    width: 0.2em;
    height: 0.2em
}
::-webkit-scrollbar-button
{
    background: #ccc
}
::-webkit-scrollbar-track-piece
{
    background: #888
}
::-webkit-scrollbar-thumb
{
    background: #eee
}
.delevery_tab_product .container_input_price input
{
    border: 0px solid #C8CCD1;
    min-height: 50px;

}
.more_offer_product_category_block a
{
    width: 171px;
    display: block;
    text-align: center;
}

.btn.btn-green
{
    color: #fff;
    background-color: #71BF45;
    border-color: #71BF45;
}

.btn.btn-green:hover
{
    background-color: #89CA65;
    color:#fff;
}
.default_table.table td
{
    padding: 15px 12px;
}

.delevery_tab_product .multiselect__tags
{
    height: 60px;
}
.delevery_tab_product .multiselect__single
{
    padding-top: 15px;
    padding-left: 12px;
    margin-bottom: 8px
}
.doc_item_offer .dropdown-menu.show
{
    -webkit-box-shadow: 0px 0px 27px -4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 27px -4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 27px -4px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
}

.span-pdf
{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}
/*.delevery_tab_product  .multiselect__tags
{
    min-height: 60px;
}
.item_product_input .select_type .multiselect__single {
    padding-top: 20px;
    padding-left: 12px;
}*/
