@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.navbar {
    padding: 0 40px;
    box-shadow: 0px 1px 0px #D4D8DB;
}
.navbar-nav .nav-item{
    padding: 0 30px;
}
.navbar-nav .nav-link {
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    padding: 40px 0;
    font-weight: normal;
}
.nav-item.active a{
    color: #71BF45;
    position: relative;
    font-weight: 600;
}
.nav-link.active::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #71BF45;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 30px;
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name_company{
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #22262A;
    font-weight: 600;
}
.login_img{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(113, 191, 69, 0.32);
    border-radius:50%;
    padding: 13px 15px;
    margin-left: 20px;
    font-weight: normal;
}
.accredited_company{
    font-size: 10px;
    line-height: 20px;
    color: #FFFFFF;
    background: #71BF45;
    border-radius: 5px;
    padding: 0.5px 13px;
    margin-top: 5px;
}
.main_container{
    background: #F0F2F4;
    min-height: 90vh;
    padding: 50px 40px;
    width: 100%;
}
.sort_taable{
    display: flex;
    flex-direction: row;
}
.sort_taable .item_sort{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #66727E;
    padding: 15px 2em;
    cursor: pointer;
}
.sort_taable .item_sort span{
    color: #71BF45;
    margin: 0 5px;
    font-size: 18px;
}
.sort_taable .item_sort.active span{
    color: #FFFFFF;
}
.sort_col{
    margin-left: 9px;
}
.sort_taable .item_sort.active{
    background: #71BF45;
    border-radius: 10px 10px 0px 0px;
    color: #FFFFFF;
}
.search_table{
    position: relative;
    display: flex;
    align-items: center;
}
.search_table input{
    width: 100%;
    border-radius: 0px 10px 0px 0px;
    border: 1px solid #D4D8DB;
    padding: 26px 40px 26px 60px;
}
.icon_search{
    position: absolute;
    left: 20px;
}
.title_page{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0E0F11;
    margin-bottom: 30px;
}
.table_container {
    padding: 0 2px;
}
.default_table{
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    box-shadow: 0px 2px 5px 0px #dee2e6;
}
.default_table thead{
    background: #F0F2F4;
    font-size: 12px;
    line-height: 15px;
    color: #66727E;
    white-space: nowrap;
}
.default_table tbody tr{
    background: #FFFFFF;
}
.status_completed{
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    background: #71BF45;
    border-radius: 5px;
    padding: 5px 10px;
}
.status_payment{
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    background: #CAE7BA;
    border-radius: 5px;
    padding: 5px 10px;
}
.status_failed{
    background: #FDDFD8;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    border-radius: 5px;
    padding: 5px 10px;
}
.page-link {
    position: relative;
    display: block;
    padding: 9px 25px;
    margin-left: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #C8CCD1;
    margin: 0 3px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background: #71BF45;
    border: 1px solid #71BF45;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    padding: 9px 35px;
}
.page-item:last-child .page-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 9px 35px;
}
.page-link:hover {
    z-index: 2;
    color: #66727E;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #66727E;
}
.num_rows span{
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    margin-right: 20px;
}
.navigation_table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.num_rows select{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    padding: 10px 20px;
}
.num_rows{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container_select_rows{
    position: relative;
}
.container_select_rows select{
    background: transparent;
    border: 1px solid #C8CCD1;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 103px;
}
.container_select_rows:after {
    content: "";
    background-image: url('/images/select_arrow.svg');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 7px;
    right: 20px;
    top: 17px;
    z-index: 1;
    pointer-events: none;
    box-sizing: border-box;
}
.status_table{
    text-align: right;
}
.page_count{
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #66727E;
}
.bold{
    font-weight: bold;
}
.dropdown_table{
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    font-weight: bold;
}
tbody.collapse.in {
    display: table-row-group;
}
.default_table.table td, .table th {
    border-top: 1px solid #dee2e6;
    vertical-align: middle !important;
}
.default_table.table td{
    padding: 25px 20px;
}
.table_product.default_table.table td{
    padding: 10px 20px;
}
.table tbody+tbody {
    border-top: 1px solid #dee2e6;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
    font-weight: normal;
}
.table td, .table th {
    padding: 10px 20px;
}
.title_content{
    font-size: 24px;
    line-height: 30px;
    color: #0E0F11;
    margin-bottom: 30px;
}
.right_container{
    padding: 40px 54px;
}
.last_message{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 40px;
}
.sender_last_message{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.photo_sender_last_message{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 20px;
}
.name_sender_last_message{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.post_sender_last_message{
    background: #51668F;
    border-radius: 10px;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 5px 15px;
}
.text_last_message{
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.top_last_message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.time_last_message{
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.image_product_table{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 20px;
}
.product_container_table{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top_table_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.transaction_objects{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0E0F11;
}
.total{
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
}
.total span{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0E0F11;
}
.left_container{
    background: #F0F2F4;
}
.transaction_name{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0E0F11;
    margin-bottom: 20px;
}
.info_transaction{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #C8CCD1;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.left_container_info{
    padding: 50px 25px;
}
.prev_page{
    font-size: 15px;
    line-height: 20px;
    color: #0E0F11;
    margin-bottom: 20px;
}
.status_transaction{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    background: #CAE7BA;
    border-radius: 10px;
    padding: 5px 15px;
    margin-right: 20px;
}
.total_transaction, .delivery_transaction{
    border-bottom: 1px solid #C8CCD1;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.title_block_transaction{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0E0F11;
    margin-bottom: 20px;
}
.sum_transaction,  .type_transaction{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #0E0F11;
    margin-bottom: 22.5px;
}
.sum_transaction span, .volume_transaction span, .type_transaction span, .partner_transaction span{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin: 0 5px;
}
.sum_transaction span.nds{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #0E0F11;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}
.volume_transaction, .partner_transaction{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #0E0F11;
}
.where_from_transaction,.where_transaction{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 16px 20px;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.where_transaction{
    margin-bottom: 20px;
}
.icon_where{
    margin-right: 20px;
}
.date_active_transaction{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #0E0F11;
    margin-bottom: 20px;
}
.date_active_transaction span{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    margin-left: 15px;
}
.date_default_transaction{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #8898A8;
}
.date_default_transaction span{
    margin-left: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #8898A8;
}
.default_table .price{
    color: #61A73A;
    margin-right: 10px;
}
.default_table .price_nds{
    background: #F0F2F4;
    border-radius: 5px;
    padding: 5px;
}
.status_time_good{
    background: #CAE7BA;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}
.status_time_bad{
    background: #FDDFD8;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}
.nowrap{
    white-space: nowrap;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 12px;
    line-height: 15px;
    color: #938D8D;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #C8CCD1;
    border-radius: 5px;
    margin-right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #C8CCD1;
}

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #C8CCD1;
    border-color: #C8CCD1;
}


.custom-checkbox:checked+label::before {
    border-color:#71BF45;
    background-color:#71BF45;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.search_table_btn{
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #D4D8DB;
    border-radius: 0px 10px 0px 0px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search_table_btn .icon_search{
    left: 0px;
}
.checkbox {
    text-align: center;
}
.checkbox.register_checkbox{
    text-align: left;
}
.register_checkbox .custom-checkbox+label::before {
    margin-right: 15px;
}
.container_search_table{
    position: relative;
    width: 50%;
}
.container_search_table input{
    border: 0;
    margin-left: 39px;
}
.container_search_table input{
    border: 0;
    margin-left: 39px;
    width: 100%;
}
.container_search_table input:focus{
    border: 0;
    outline: none;
}
.container_btn_table button,
a.btn-table{
    color: #71BF45;
    border-radius: 10px;
    border: 1px solid #71BF45;
    background: transparent;
    padding: 7px 30px;
    margin-right: 10px;
    font-weight: 600;
    display: block;
    position: relative;
    float: left;
}
a.btn-table:hover
{
    color:#71BF45;
    background:#f0f2f4 ;
    text-decoration: none;
}
.container_btn_table span{
    margin-right: 10px;
}
.container_btn_table button:last-child{
    margin-right: 0px;
}
.title_reg{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0E0F11;
    margin-bottom: 40px;
}
.container_register{
    padding: 60px 0;
}
.reg_form input{
    border: 1px solid #C8CCD1;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    width: 100%;
}
.title_item_reg_block{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #0E0F11;
    margin-bottom: 20px;
}
.container_item_reg_input{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.container_item_reg_input>div{
    width: 50%;
    position: relative;
}
.container_item_reg_input>div:first-child{
    margin-right: 10px;
}
.container_item_reg_input>div:last-child{
    margin-left: 10px;
}
.description_title_reg_block{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #938D8D;
    margin-top: 5px;
}
.icon_password{
    position: absolute;
    right: 15px;
    top:18px
}
.btn_summit button{
    background: #71BF45;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    width: 100%;
    border: 0;
    padding: 20px;
    margin-top: 20px;
}
.container_register .row{
    flex-direction: row;
    align-items: center;
}
.container_item_providere{
    border: 1px solid #D4D8DB;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
.container_item_providere.active{
    border: 1px solid #71BF45;
    overflow: hidden;
}
.title_provider{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-bottom: 15px;
}
.description_provider{
    font-size: 12px;
    line-height: 15px;
    color: #66727E;
}
.item_provider {
    width: 70%;
}
.container_item_providere.active .icon_provider::before{
    content: "";
    background: #71BF45;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 90px;
    top: -50px;
    left: -35px;
}
.icon_provider{
    position: relative;
}
.icon_provider svg{
    z-index: 2;
    position: relative;
}

.tab_reg .nav-tabs {
    border-bottom: 0;
}
.tab_reg .tab-content{
    padding-top: 20px;
}
.tab_reg .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
}
.tab_reg .nav-tabs .nav-link {
    border: 1px solid #C8CCD1;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #444C54;
}
.tab_reg .nav-tabs .nav-link span{
    display: none;
}
.tab_reg .nav-tabs .nav-link.active span{
    display: inline-block;
}
.tab_reg .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #71BF45;
    background-color: transparent;
    border-color:  #71BF45;
}
.nav-link.active{
    position: relative;
}

.tab_reg .nav-tabs .nav-item:first-child .nav-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tab_reg .nav-tabs .nav-item:last-child .nav-link{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.item_reg_input_one{
    margin-bottom: 20px;
}
.header_registration{
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 19px 80px 30px;
    width: 100%;
}
.navigation{
    margin-bottom: 22px
}
.place span{
    margin-right: 12px;
}
.navigation ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.navigation ul li a{
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    font-weight: normal;
}
.container_header_btn_info{
    display: flex;
    flex-direction: row;
}
.container_header_btn_info>div{
    margin-right: 20px;
}
.container_catalog_search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}
.container_header_btn_info>div:last-child{
    margin-right: 0px;
}
.header_container_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.catalog{
    background: #71BF45;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 60px;
    width: 183px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;;
}
.catalog span{
    margin-right: 19px;
}
.header_btn_info{
    border: 1px solid #C8CCD1;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_search{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 20px;
}
.header_search input{
    border: 1px solid #C8CCD1;
    border-radius: 10px 0px 0px 10px;
    padding: 16px;
    width: 100%;
}
.btn_header_search{
    background: #71BF45;
    border-radius: 0px 10px 10px 0px;
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
footer{
    background: #FAFBFB;
}
.container_footer{
    padding: 40px;
    padding-bottom: 0;
}
.title_footer_list{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-bottom: 30px;
}
.list_foter ul{
    padding-left: 0;
    list-style: none;
}
.list_foter ul li a{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #22262A;
}
.list_foter ul li a:hover{
    text-decoration: none;
}
.container_footer_block{
    border-bottom: 1px solid #D4D8DB;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.title_footer_contact{
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    margin-bottom: 15px;
}
.item_footer_contact a{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #22262A;
}
.item_footer_contact_main a {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #22262A;
}
.btn_consultation{
    background: #71BF45;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px 40px;
}
.btn_consultation:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.footer_info{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.container_footer_consultation{
    margin-bottom: 40px;
    flex-direction: row;
    align-items: center;
}
.footer_bottom{
    background: #F0F2F4;
    padding: 40px;
}
.title_success_reg{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0E0F11;
    margin-bottom: 30px;
}
.color_success{
    color: #71BF45;;
}
.text_info_success{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-bottom: 30px;
}
.text_info_success span{
    color: #71BF45;
}
.btn_login{
    background: #71BF45;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px 40px;
}
.btn_login:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.container_btn_login{
    display: flex;
}
.container_register_success{
    padding: 60px 0;
}
.reg_img svg{
    width: 80%;
    margin: auto;
    display: block;
}
.title_create_product{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #0E0F11;
    border-bottom: 1px solid #C8CCD1;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.title_info_create_product{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0E0F11;
    margin-bottom: 10px;
}
.text_info_create_product{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-bottom: 10px;
}
.container_price_item{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.container_input_price{
    position: relative;
    width: 100%;
}
.container_input_price input{
    background: #FFFFFF;
    border: 1px solid #C8CCD1;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    padding: 30px 20px 10px;
    width: 100%;
}
.text_input{
    position: absolute;
    font-size: 12px;
    line-height: 15px;
    color: #66727E;
    top: 10px;
    left: 35px;
}
.icon_price_input{
    position: absolute;
    top: 20px;
    right: 30px;
}
.info_block_product{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon_info{
    margin-right: 20px;
}
.btn_submit_price{
    background: #71BF45;
    border-radius: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px;
    border: 0;
}
.item_product_input{
    display: flex;
    flex-direction: row;
}
.select_container{
    position: relative;
}
.select_container select{
    background: #FFFFFF;
    border: 1px solid #C8CCD1;
    border-radius: 10px;
    padding: 30px 20px 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select_container:after {
    content: "";
    background-image: url('/images/select_arrow.svg');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 7px;
    right: 30px;
    top: 27px;
    z-index: 1;
    pointer-events: none;
    box-sizing: border-box;
}
.select_text{
    position: absolute;
    top: 10px;
    left: 35px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #66727E;
}
.title_container_product_block{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
}
.item_container_product_block{
    margin-bottom: 40px;
}
.photo_container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #C8CCD1;
    box-sizing: border-box;
    border-radius: 10px;
}

.photo_container:before {
    content: "";
    padding-top: 100%;
    float: left;
}
.container_new_photo{
    border-radius: 10px;
}
.container_new_photo.uploaded svg{
    display: none;
}
.container_new_photo.uploaded:hover svg{
    display: block;
}
.container_new_photo.uploaded:hover svg path{
    stroke: #FFFFFF;
}
.container_new_photo.uploaded:hover svg circle{
    stroke: #FFFFFF;
}
.container_new_photo.uploaded:hover .input-file + .js-labelFile {
    background: rgba(0, 0, 0, 0.45);
}
.container_new_photo .btn-tertiary:before {
    content: "";
    padding-top: 100%;
    float: left;
}
.container_new_photo .btn-tertiary{
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #C8CCD1;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container_new_photo .btn-tertiary:hover,.container_new_photo .btn-tertiary:focus{
    color:#888;
    border-color:#888
}
.container_new_photo .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
}
.container_new_photo .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer
}
.container_new_photo .input-file + .js-labelFile .icon:before{content:"\f093"}
.container_new_photo .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}


.container_new_document{
    border-radius: 10px;
}
.container_new_document .btn-tertiary{
    width: 100%;
    height: 81px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #C8CCD1;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
}
.container_new_document span{
    margin-right: 10px;
}
.container_new_document .btn-tertiary:hover,.container_new_photo .btn-tertiary:focus{
    color:#888;
    border-color:#888
}
.container_new_document .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
}
.container_new_document .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer
}
.container_new_document .input-file + .js-labelFile .icon:before{content:"\f093"}
.container_new_document .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}


.container_message_file .btn-tertiary:hover,.container_new_photo .btn-tertiary:focus{
    color:#888;
    border-color:#888
}
.container_message_file .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
}
.container_message_file .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer
}
.container_message_file .input-file + .js-labelFile .icon:before{content:"\f093"}
.container_message_file .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}

.new_adress{
    font-size: 15px;
    line-height: 20px;
    color: #71BF45;
    margin-top: 20px;
}
.help_text{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    margin-top: 10px;
}
.status_product{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    background: #89CA65;
    border-radius: 10px;
    padding: 5px 15px;
    margin-right: 20px;
}
.btn_update_product{
    background: #71BF45;
    border-radius: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px;
    border: 0;
}
.info_text_update_product{
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.icon_update_product{
    margin-right: 20px;
}
.name_company_list{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    margin-bottom: 5px;
}
.category_company_list{
    background: #F0F2F4;
    border-radius: 5px;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    color: #66727E;
    display: inline-block;
    padding: 1px 15px;
}
header .dropdown-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 20px;
}
header .dropdown-menu.show {
    left: -30px;
    width: 120%;
    top: -10%;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    border: 1px;
    margin: 0;
    border-radius: 10px;
}
header .dropdown-menu{
    padding: 0;
}
.dropdown-item-border{
    border-bottom: 1px solid #D4D8DB;
}
header .dropdown-item.dropdown-item-exit{
    background: #F0F2F4;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    padding: 10px 20px;
}
.dropdown_info_text{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #66727E;
    padding: 15px 20px 20px;
}
header .dropdown-item.dropdown-item-settings{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #22262A;
    padding: 5px 20px;
}
.modal_price{
    cursor: pointer;
}
.title_madal_price{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 10px;
}
.modal_name_product{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-bottom: 45px;
}
.container_modal_old_price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.title_modal_old_price{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
}
.modal_old_price{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
}
.modal_old_price_nds{
    background: #F0F2F4;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}
.modal_input{
    position: relative;
    margin-bottom: 20px;
}
.modal_input input{
    border: 1px solid #C8CCD1;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
}
.model_price_percent{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    position: absolute;
    right: 20px;
    top: 20px;
}
.modal_btn_change_price{
    background: #71BF45;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 100%;
    border: 0;
    margin-top: 20px;
}
.modal_change_price .modal-body {
    padding: 40px;
}
.conatainer_title_message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.count_message{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
}
.count_message span{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0E0F11;
    margin-left: 10px;
}
.message_content{
    cursor: pointer;
}
.btn-close{
    background: transparent;
    border: 0;
}
.modal-header {
    border-bottom: 0;
}
.modal_message .modal-dialog {
    right: 0;
    margin: 0;
    margin-left: auto;
    max-width: 50%;
}
.modal_message .modal-content{
    height: 100vh;
    padding: 30px;
    position: relative;
    border-radius: 0;
    border: 0;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
}
.modal_item_message{
    margin-bottom: 40px;
}
.modal_message .modal-body{
    height: 70%;
    overflow:auto;
}
.modal_container_input_message{
    position: relative;
    margin-right: 20px;
    position: relative;
    width: 100%;
}
.modal_container_input_message input{
    border: 1px solid #C8CCD1;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    padding: 20px;
    width: 100%;
}
.container_message_file{
    position: absolute;
    right: 20px;
    top: 20px;
}
.btn_send_message button{
    background: #71BF45;
    border-radius: 10px;
    padding: 19px 23px;
    border: 0;
}
.modal_footer_message form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.modal_footer_message {
    margin-top: 30px;
}
.modal_message.modal {
    padding-right: 0 !important;
    right: -100%;
    left: auto;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
}
.modal_message.show{
    right: 0px;
}
.title_content_message{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #0E0F11;
}
.dropdown-item-login{
    padding: 20px 20px 10px;
}
.dropdown-item-login .name_company {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    color: #22262A;
}
.clickable a{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
}
.clickable a svg{
    margin-right: 15px;
}
.clickable a:hover{
    text-decoration: none;
}
.price-term, .sum_table{
    text-align: right;
}

/*
MY SCRIPT
*/

.content
{
    min-height: 800px;
}
.lk-header{
    width: 100%;
}

.pad-bot-0{
    padding-bottom: 0 !important;
}
select option:hover {
   box-shadow: 0 0 10px 100px #41b883 inset;
   color:#fff;
}
.m-b-30{
    margin-bottom: 30px;
}
.new_adress{
    margin-top: 0;
}
