@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
}
input, button, textarea, input:focus, button:focus, textarea:focus {outline:none;}
a:hover{
    text-decoration: none;
}
hr{
    margin-top: 0;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #C8CCD1;
}
label {
    margin-bottom: 0;
}
.mr_0{
    margin: 0 !important;
}
.mr-t-20{
    margin-top: 20px;
}
.pd_t_80{
    padding-top: 80px;
}

.btn_green{
    padding: 20px 40px;
    background: #71BF45;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    border:0;
    cursor: pointer;
}
.btn_green:hover{
    background: #89CA65;
    color: #FFFFFF;
}
.btn_border{
    padding: 20px 40px;
    background: transparent;
    border: 1px solid #71BF45;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #71BF45;
    cursor: pointer;
}
.btn_border:hover{
    color: #71BF45;
    box-shadow: 0 0 0 2px #89CA65;
    border: 1px solid #89CA65;
}

/*-------header-------*/

header .navbar {
    padding: 0 40px;
    box-shadow: 0px 1px 0px #D4D8DB;
}
.navbar-nav .nav-item{
    padding: 0 30px;
}
.navbar-nav .nav-link {
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    padding: 40px 0;
    font-weight: normal;
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 75px;
}
.nav-item.active a{
    color: #71BF45;
    position: relative;
    font-weight: 600;
}
.nav-item.active a::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #71BF45;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 30px;
}
/*-------header-------*/

/*-------footer-------*/
footer{
    background: #FAFBFB;
}
.container_footer{
    padding: 40px;
    padding-bottom: 0;
}
.title_footer_list{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-bottom: 30px;
}
.list_foter ul{
    padding-left: 0;
    list-style: none;
}
.list_foter ul li a{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #22262A;
}
.list_foter ul li a:hover{
    text-decoration: none;
}
.container_footer_block{
    border-bottom: 1px solid #D4D8DB;
    margin-bottom: 40px;
}
.title_footer_contact{
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    margin-bottom: 15px;
}
.item_footer_contact a{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #22262A;
}
.item_footer_contact_main a {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #22262A;
}
.btn_consultation{
    background: #71BF45;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px 40px;
    display: inline-block;
}
.btn_consultation:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.footer_info{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    width: 95%;
}
.col-md-6.email_footer_info{
    padding-left: 30px;
}
.container_footer_consultation{
    margin-bottom: 40px;
    flex-direction: row;
    align-items: center;
}
.footer_bottom{
    background: #F0F2F4;
    padding: 40px;
}
/*-------footer-------*/

/*-------index-------*/
.title_about_company{
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 40px;
}
.description_about_company{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 40px;
    width: 70%;
}
.play_company{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}
.play_company svg{
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}
.play_company:hover svg path{
    fill: #89CA65;
}
.play_company>div{
    margin-left: 15px;
    text-align: left;
}
.corn{
    padding-left: 20%;
}
.img_corn{
    position: relative;
}
.play_company{
    position: absolute;
    top: 160px;
}
.btn_learn_more{
    margin-left: 23px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
}
.btn_learn_more:hover{
    color: #71BF45;
}
.about_company_block{
    margin-bottom: 90px;
}
.about_company_block .row{
    flex-direction: row;
    align-items: center;
}
.btn_about_company{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search_company_block{
    position: relative;
}
.title_search_company_block{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #22262A;
    margin-bottom: 20px;
}
.btn_search_company{
    background: #71BF45;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px 40px;
    height: 60px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 0px 10px 10px 0px;
}
.btn_search_company:hover{
    background: #89CA65;
}
.container_btn_search__company{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #71BF45;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 40px;
}
.search_category_company{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: 40px;
}
.item_search_category_company{
    background: #F0F2F4;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    padding: 10px 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.item_search_category_company:hover{
    background: #D4D8DB;
}
.delivery_company_block{
    background: #F0F2F4;
    border-radius: 10px;
    padding: 84px 70px;
    position: relative;
    margin-bottom: 60px
}
.title_delivery_company{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
    margin-bottom: 20px;
}
.img_car{
    position: absolute;
    right: 0;
    width: 602px;
    height: 323px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
}
.description_delivery_company{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: #22262A;
}
.type_delivery_company{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #8898A8;
    margin-bottom: 40px;
}
.advantages_company_block{
    margin-bottom: 100px;
}
.title_advantages_company_block{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
    text-align: center;
    margin-bottom: 80px;
}
.item_advantages_company{
    text-align: center;
}
.img_item_advantages_company{
    margin-bottom: 40px;
}
.title_partners_company_block{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
    margin-bottom: 40px;
    text-align: center;
}
.item_partners_company{
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(34, 54, 74, 0.14);
}
.img_item_partners_company{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.partners_company_block .row{
    margin-left: -10px;
    margin-right: -10px;
}
.partners_company_block .row>.padding_item_partners_company{
    padding-right: 10px;
    padding-left: 10px;
}
.all_partners_company_block{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
.all_partners_company_block a{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #71BF45;
    border-radius: 10px;
    border: 1px solid #71BF45;
    padding: 5px 15px;
}
.all_partners_company_block a:hover{
    color: #71BF45;
    box-shadow: 0 0 0 2px #89CA65;
}
.item_questions_company{
    background: #F0F2F4;
    border-radius: 10px;
    padding: 42px 40px 40px;
    width: 100%;
}
.item_questions_company.row{
    margin-left: 0;
    margin-right: 0;
}
.item_questions_company.row>div{
    padding-left: 0;
    padding-right: 0;
}
.questions_company_block .row>div.info_item_questions_company{
    display: block;
}
.img_item_questions_company{

}
.icon_item_questions_company{
    margin-bottom: 37px;
}
.title_item_questions_company{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0E0F11;
    margin-bottom: 20px;
}
.text_item_questions_company{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    margin-bottom: 20px;
    width: 80%;
}
.link_item_questions_company a{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #61A73A;
}
.padding_item_questions_company{
    padding-right: 10px;
    padding-left: 10px;
}
.questions_company_block .row, .user_registration_company_block .row
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.questions_company_block .row>div, .user_registration_company_block .row>div
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.title_user_registration_company_block{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
    text-align: center;
    margin-bottom: 40px;
}
.left_item_user_registration_company{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title_item_user_registration_company{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
    margin-bottom: 30px;
}
.text_item_user_registration_company{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-bottom: 80px;
    min-height: 80px;
    width: 80%;
}
.item_user_registration_company{
    border: 1px solid #C8CCD1;
    border-radius: 10px;
    padding: 60px 60px 120px;
    margin-bottom: 60px;
    position: relative;
}
.item_user_registration_company.active{
    border: 5px solid #71BF45;
}
.item_list_user_registration_company{
    display: flex;
    margin-bottom: 80px;
}
.icon_item_list_user_registration_company{
    width: 20px;
    height: 20px;
    background: #71BF45;
    border-radius: 50%;
    margin-right: 30px;
    min-width: 20px;
}
.title_item_list_user_registration_company{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0E0F11;
    margin-bottom: 10px;
}
.btn_user_registration_company{
    display: flex;
}
.text_item_list_user_registration_company{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
}
.user_registration_company_block .row>div{
    padding-left: 10px;
    padding-right: 10px;
}
.user_registration_company_block .btn_user_registration_company{
    position: absolute;
    bottom: 60px;
}
.become_partner_company_block{
    border: 1px solid #C8CCD1;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 60px 70px;
    margin-bottom: 60px;
}
.title_become_partner_company{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
    margin-bottom: 40px;
}
.text_become_partner_company{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-bottom: 40px;
}
.icon_become_partner_company{
    text-align: center;
}
.list_become_partner_company ul li{
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-bottom: 10px;
}
/*-------index-------*/

/*-------to-supplier-------*/
.info_supplier_information{
    border: 1px solid #D4D8DB;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 60px;
}
.title_supplier_information{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
    margin-bottom: 30px;
}
.img_supplier img{
    width: 100%;
    height: auto;
    display: block;
}
.container_supplier_information{
    margin-top: 60px;
}

.description_text_supplier ul{
    padding-left: 20px;
}
.description_text_supplier{
    margin-top: 40px;
    padding-right: 10%;
}
.img_right{
    display: flex;
    justify-content: flex-end;
}
.list_stages_work{
    position: relative;
}
.list_stages_work .row{
    flex-direction: row;
    align-items: center;
}
.step_supplier_img{
    position: absolute;
    bottom: 0;
    left: 60px;
}
.step2_supplier_img{
    position: absolute;
    bottom: 100%;
    left: 60px;
}
.step2_stages_work{
padding-bottom: 236px;
}
.stages_work{
   margin-bottom: 123px; 
}
.advantages_suppliner_block{
    margin-bottom: 140px;
}
.container_supplier{
    padding: 220px 240px 63px;
}
.info_supplier_block{
    margin-bottom: 155px;
}
.info_supplier_block .row{
    flex-direction: row;
    align-items: center;
}
.step1_stages_work{
    padding-bottom: 160px;
}
.functionality_work{
    margin-bottom: 120px;
}
.title_functionality_work{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
    margin-bottom: 60px;
    text-align: center;
}
.title_supplier{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #0E0F11;
    margin-bottom: 40px;
}
.description_supplier{
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #66727E;
    margin-bottom: 40px;
}
.img_stages_work img{
    width: auto;
    height: 482px;
    display: block;
}
.box {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}
.box-front {
    background-color: transparent;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.box-back {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(
180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(
180deg);
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffffff;
}
.box-in {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .5s;
}
.box:hover .box-front {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(
180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(
180deg);
}
.box:hover .box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(
0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(
0deg);
}
.item_functionality_work{
    border: 1px solid #CAE7BA;
    box-sizing: border-box;
    border-radius: 10px; 
    padding: 40px;
    height: 320px;
    cursor: pointer;
}
.img_item_functionality_work{
    margin-bottom: 30px;
}
.text_item_functionality_work{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #22262A;
}
.description_functionality_work{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #66727E;
}
.title_stages_work{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #22262A; 
    margin-bottom: 20px;
}
.description_stages_work{
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #66727E;
}
.item_stages_work{
    display: flex;
}
.number_stages_work{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #71BF45;
    margin-right: 78px;
}
.step_supplier_img img{
    width: 100%;
    height: auto;
    display: block;
}
/*-------to-supplier-------*/

/*-------news-------*/
.header_news_company_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.title_news_company_block{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
}
.all_news_company_block{
    display: flex;
}
.all_news_company_block a{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #71BF45;
    border-radius: 10px;
    border: 1px solid #71BF45;
    padding: 5px 15px;
}
.all_news_company_block a:hover{
    color: #71BF45;
    box-shadow: 0 0 0 2px #89CA65;
}
.news_company_block{
    margin-bottom: 90px;
}
.img_item_list_news_company{
    border-radius: 10px;
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
.title_item_list_news_company{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #0E0F11;
    margin-bottom: 20px;
}
.category_news_item_list_news_company{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
}
.item_list_news_company{
    padding-right: 20px;
}
.list_news .slick-prev, .list_news .slick-next{
    z-index: 1;
}

.list_news .slick-list{padding:0 20% 0 0;}
.list_news .slick-prev:before, .list_news .slick-next:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.17);
    opacity: 1;
    top: 0px;
    left: -35px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.list_news .slick-prev:before{
    right: -35px;
    left: auto;
}
.list_news .slick-prev::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 1.5L1.5 6.5L6.5 11.5' stroke='%2371BF45' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
    width: 8px;
    height: 13px;
    right: -8px;
    top: 23px;
}

.list_news .slick-next::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.5L6.5 6.5L1.5 11.5' stroke='%2371BF45' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
    width: 10px;
    height: 16px;
    left: -8px;
    top: 23px;
}
.title_news{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0E0F11;
    margin-bottom: 30px;
    text-align: center;
}
.item_list_news{
    margin-bottom: 57px;
}
.img_item_list_news {
    border-radius: 10px;
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
.news_company_block .row{
    margin-left: -10px;
    margin-right: -10px;
}
.news_company_block .row>div{
    padding-left: 10px;
    padding-right: 10px;
}
.tab_news .tab-content{
    margin-top: 60px;
}
.tab_news .nav-tabs .nav-link {
    padding: 10px 30px;
    background: #F0F2F4;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #22262A;
    margin-right: 20px;
    border: 0;
}
.tab_news .nav-tabs .nav-item.show .nav-link, .tab_news .nav-tabs .nav-link.active {
    color: #22262A;
    background: #D4D8DB;
    border:0;
}
.tab_news .nav-tabs {
    border-bottom: 0;
    justify-content: center;
}
.news_pagination .pagination{
    justify-content: center;
}
.title_detailed_news{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0E0F11;
    margin-bottom: 20px;
}
.bread_crumbs{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
}
.head_detailed_news{
    margin-bottom: 37px;
}
.detailed_news_img{
    height: 500px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.detailed_news_content{
    width: 79%;
    margin-bottom: 90px;
}
/*-------news-------*/

/*-------404-------*/
.container_404{
    background: #F0F2F4;
    width: 100%;
    height: calc(100vh - 75px);
    padding: 80px 140px 80px 195px;
}
.container_404 .row{
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    height: 100%;
}
.error_404__title{
    font-weight: 600;
    font-size: 180px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: #71BF45;
    margin-bottom: 30px;
}
.error_404__text{
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #22262A;
    margin-bottom: 40px;
}
.error_404__btn{
    padding: 20px 40px;
    background: #71BF45;
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 10px;
}
.error_404__btn:hover{
    background: #89CA65;
    color: #FFFFFF;
}
.header_mini .navbar-nav .nav-link {
    padding: 30px 0;
    height: 75px;
}
.error_404__img{
    text-align: right;
}
.error_404__img svg{
    width: 100%;
}
@media (max-width: 1300px){
    .container_404{
        padding: 80px 80px 80px 135px;
    }
    .error_404__title {
        font-size: 130px;
    }
    .error_404__btn{
        padding: 20px;
        font-size: 14px;
    }
}
@media (max-width: 900px){
    .container_404{
        min-height:calc(100vh - 40px);
        padding: 25px 15px;
    }
    .left_block_404{
        text-align: center;
    }
    .error_404__title {
        font-size: 100px;
        margin-bottom: 30px;
    }
    .error_404__text{
        font-size: 16px;
        margin-bottom: 40px;
    }
    .error_404__btn{
        padding: 20px;
        margin: auto;
    }
    .error_404__img{
        text-align: center;
        margin: 40px 0;
    }
    .error_404__img svg{
        height: auto;
    }
}
/*-------404-------*/

/*-------contact-------*/
.container_contact__info{
    flex-flow: row wrap;
    margin-bottom: 55px;
}
.contact__info{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.contact__info_title{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0E0F11;
    margin-bottom: 50px;
}
.contact__info_item{
    margin-bottom: 40px;
}
.contact__info_item_title{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #66727E;
    margin-bottom: 15px;
}
.contact__info_item_text{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #444C54;
}
.offer_map{
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}
/*-------contact-------*/